# The following 3 lines ignore executable files (which have no extension)

# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/


# Now ignore any other files, such as .DS_Store on Mac
.DS_Store